h2#des-title{
    text-align: center;
    text-decoration: underline;
}

img#des-image{
    margin: auto;
    display: block;
    height: 300px;
    border: 1px solid;
    border-radius: 5px;
}

p.para{
    margin-left: 30px;
}

h4{
    margin-left: 30px;
    font-size: 23px;
}

.des-para{
    background-color: wheat;
    bottom: 0;
    border: solid;
    margin-top: 20px;
    border-radius: 10px;
    
}