img.tool-image{
    height:200px;
    width: 200px;
    display: block;
    margin: auto;
}


.tool-card{
  border:1px solid;
  width: 450px;
  box-sizing: border-box;
  background-color:azure;
  border-radius: 10px;
  height: 620px;
  margin-bottom: 20px;
  margin-left: 20px;

}

.tool-container{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  gap:60px
}

.tool-card-container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}


p.tools{
  font-size: 18px;
}


h3#card{
  font-size: 20px;
  text-align: center;
 
}


button.status{
  display:inline-flex;
  flex-direction: row;
}

.link{
  display: block;
  margin-top: 30px;
  margin-left: 10px;
}  

/* Search................................................................... */
.searchbar{
  width: 700px;
  height: 35px;
}

.search-form{
  margin-left: 50px;
  background-color: gainsboro;
  padding: 5px;
  margin-bottom: 10px;
}

/* toolUser ......................................................................*/
#toolUser-title{
    text-decoration: underline;
}

li{
  display: flex;
  flex-direction: column;
}

#userlist{
  max-height: 100px; /* Set the max height to control the list size */
  overflow-y: auto;  /* Makes the content scrollable if it overflows */
  margin-top: 10px;
  border-top: 1px solid #ddd;
  padding-top: 2px;
}