#form-container{
    background-color:gainsboro;
    width: 430px;
    height: 600px;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
}

form{

   display: flex;
   flex-direction: column;

}

.input-form{
    width: 400px;
    height:30px;
    border-radius: 5px;

}

label.label-form{
    margin-bottom: 1px;
    margin-left: 10px;
}
